<div class="flex flex-col bg-white rounded-xl px-8 pb-8 space-y-4">
    <div class="pt-4 flex flex-row items-center justify-between w-full !mb-0">
        <div>
            {% include "snippets/templates/_partials/snippet_system_tags.html" %}
        </div>
        <div class="flex flex-row gap-1">
            <span class="text-xs text-stone-500">Updated {{ snippet.updated_at.strftime('%Y-%m-%d %H:%M') }}</span>
            <span class="text-xs text-stone-500">•</span>
            <span class="text-xs text-stone-500">Created {{ snippet.created_at.strftime('%Y-%m-%d %H:%M') }}</span>
        </div>
    </div>

    <div class="!mt-0 !mb-0 sticky py-4 top-0 z-10 flex flex-row gap-2 justify-between items-start bg-white/75 backdrop-blur">
        <div class="flex flex-row items-start justify-start text-md font-bold text-stone-900 gap-1">
            {% if user %}
            <button
                class="favorite-btn {{'is-favorite ' if snippet.is_favorite }} flex justify-center items-center rounded-md font-medium text-xs"
                data-favorite-btn="{{ snippet.id }}"
                title="{{ 'Remove from favorites' if snippet.is_favorite else 'Add to favorites' }}"
            >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
                </svg>
            </button>
            {% endif %}
            <div class="flex flex-row flex-wrap items-center gap-1">
                <h2 class="text-xl font-bold text-stone-900">{{ snippet.title }}</h2>
            </div>
        </div>

        <div class="flex items-center justify-end space-x-2">
            <div>
                <button
                    id="copy-button-{{snippet.id}}"
                    class="flex justify-center items-center rounded-md font-medium gap-1  py-2 px-4 bg-yellow-400 text-stone-900 hover:bg-yellow-300"
                    data-copy-to-cliboard="copy-content-{{snippet.id}}"
                    title="Copy snippet contents to clipboard"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 7.5V6.108c0-1.135.845-2.098 1.976-2.192.373-.03.748-.057 1.123-.08M15.75 18H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08M15.75 18.75v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5A3.375 3.375 0 0 0 6.375 7.5H5.25m11.9-3.664A2.251 2.251 0 0 0 15 2.25h-1.5a2.251 2.251 0 0 0-2.15 1.586m5.8 0c.065.21.1.433.1.664v.75h-6V4.5c0-.231.035-.454.1-.664M6.75 7.5H4.875c-.621 0-1.125.504-1.125 1.125v12c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V16.5a9 9 0 0 0-9-9Z" />
                    </svg>
                </button>
                <textarea id="copy-content-{{snippet.id}}" class="hidden">{{ snippet.content }}</textarea>
            </div>

            {% if user %}
                <a
                    href="{{ url_for('snippet.fork', id=snippet.id) }}"
                    class="flex justify-center items-center rounded-md font-medium gap-1  py-2 px-4 bg-yellow-800 text-white hover:bg-yellow-700"
                    title="Create a fork of this snippet"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m0-3-3-3m0 0-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75" />
                    </svg>
                    <span>Fork</span>
                </a>
                {% if snippet.user_id == (user.id|string) %}
                    <a href="{{ url_for('snippet.edit', id=snippet.id) }}" class="flex justify-center items-center rounded-md font-medium gap-1  py-2 px-4 bg-stone-950 text-white hover:bg-stone-800" title="Edit this snippet" tabindex="0">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                        </svg>
                        <span>Edit</span>
                    </a>
                {% endif %}
            {% endif %}
            {% if inline %}
            <a href="{{ url_for('snippet.view', id=snippet.id) }}" class="text-xs text-stone-900 hover:text-stone-700" title="View snippet" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
                </svg>
            </a>
            {% endif %}
        </div>
    </div>

    {% if snippet.subtitle %}
    <p class="!mt-0 text-sm text-stone-700">{{ snippet.subtitle }}</p>
    {% endif %}

    {% include "snippets/templates/_partials/snippet_user_tags.html" %}

    {% if snippet.command_name %}
    <div class="flex">
        <div class="w-full border rounded-xl p-4 cursor-pointer">
            <div class="flex flex-row items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m6.75 7.5 3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0 0 21 18V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v12a2.25 2.25 0 0 0 2.25 2.25Z" />
                </svg>
                <h3 class="text-md font-bold text-stone-900">
                    Command
                </h3>
            </div>
            <pre class="mt-4 w-full border rounded-md overflow-x-auto text-sm"><code class="language-shell">{{ snippet.command_name }}</code></pre>
        </div>
    </div>
    {% endif %}

    {% if snippet.content %}
    <div class="flex">
        <details open class="w-full border rounded-xl p-4 cursor-pointer">
            <summary class="text-stone-500 text-sm">
                <h3 class="text-base font-bold text-stone-900 inline-flex pl-2">Snippet Content</h3>
            </summary>
            <pre class="mt-4 border rounded-md overflow-x-auto text-sm"><code class="language-{{ snippet.language }}">{{ snippet.content }}</code></pre>
        </details>
    </div>
    {% endif %}

    {% if snippet.description %}
    <div class="flex">
        <details open class="w-full border rounded-xl p-4 cursor-pointer">
            <summary class="text-stone-500 text-sm">
                <h3 class="text-base font-bold text-stone-900 inline-flex pl-2">Description</h3>
            </summary>
            <div class="max-w-none w-full mt-4 prose prose-base prose-stone prose-headings:pb-2 prose-headings:border-b prose-headings:border-stone-300 prose-pre:bg-transparent prose-pre:p-0 prose-pre:border prose-pre:rounded-md">
                {{ snippet.html_description | safe }}
            </div>
        </details>
    </div>
    {% endif %}
</div>
