{% set max_full_height = True %}
{% extends "common/templates/_layouts/base.html" %}

{% block title %}Dashboard - Snippet Manager{% endblock %}

{% block content %}
<div class="flex-grow w-full grid grid-cols-2 overflow-auto gap-4">
    <!--  Search results -->
    <div class="flex flex-col  flex-grow overflow-auto rounded-xl ">
        <!-- Search area -->
        <div class="rounded-xl sticky top-0 z-10">
            <form action="/dashboard" method="GET" class="flex flex-col">
                <input
                    type="text"
                    name="q"
                    placeholder="Search snippets..."
                    class="w-full rounded-xl px-4 py-4 shadow-md"
                    value="{{search_context.q  or ''}}"
                />
            </form>
        </div>

        <!-- Items -->
        <div class="flex flex-col flex-grow pt-4">
            <div class="mb-4 flex flex-row items-center justify-between">
            <div class="flex flex-col">
                <span class="text-lg font-medium text-stone-900">
                    {% if search_context.q %}
                        Search results for <span class="font-black">{{ search_context.q }}</span>
                    {% else %}
                        All snippets
                    {% endif %}
                </span>
                <span class="text-sm text-stone-500">
                    Showing
                    {% if pagination_context.total_items > 0 %}
                    <span class="font-medium">{{ pagination_context.start_index }}</span> to <span class="font-medium">{{ pagination_context.end_index }}</span> of
                    {% endif %}
                    <span class="font-medium">{{ pagination_context.total_items }}</span> snippets
                </span>
            </div>
            <div>
                <button class="inline-flex p-2 rounded-xl bg-white enabled:hover:bg-stone-100 disabled:opacity-50" title="Previous Page" onclick="window.location.href='{{ pagination_context.prev_page_url }}'" {{ 'disabled' if not pagination_context.has_prev }}>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                    </svg>
                </button>
                <button class="inline-flex p-2 rounded-xl bg-white enabled:hover:bg-stone-100 disabled:opacity-50" title="Next Page" onclick="window.location.href='{{ pagination_context.next_page_url }}'" {{ 'disabled' if not pagination_context.has_next }}>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                </button>
            </div>
            </div>

            {% if snippets %}
                <div class="grid grid-cols-1 gap-2 snap-y">
                    {% for snippet in snippets %}
                        {% include "snippets/templates/_components/snippet_card.html" %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="flex flex-col items-center justify-center p-8 w-full bg-white text-center rounded-xl gap-1">
                    <svg class="text-stone-500 size-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9.75 16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
                    </svg>
                    <span class="text-lg font-medium text-stone-900 pb-2">No snippets found</span>
                    <a href="/snippets/add" class="flex justify-center items-center rounded-md font-medium gap-1  py-2 px-4 bg-yellow-400 text-stone-900 hover:bg-yellow-500" title="Create a new snippet">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        <span>Add Snippet</span>
                    </a>
                </div>
            {% endif %}


            <div class="mt-4 flex flex-row items-center justify-between">
                <div class="flex flex-col">
                    <span class="text-sm text-stone-500">
                        Showing
                        {% if pagination_context.total_items > 0 %}
                        <span class="font-medium">{{ pagination_context.start_index }}</span> to <span class="font-medium">{{ pagination_context.end_index }}</span> of
                        {% endif %}
                        <span class="font-medium">{{ pagination_context.total_items }}</span> snippets
                    </span>
                </div>
                <div>
                    <button class="inline-flex p-2 rounded-xl bg-white enabled:hover:bg-stone-100 disabled:opacity-50" title="Previous Page" onclick="window.location.href='{{ pagination_context.prev_page_url }}'" {{ 'disabled' if not pagination_context.has_prev }}>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                        </svg>
                    </button>
                    <button class="inline-flex p-2 rounded-xl bg-white enabled:hover:bg-stone-100 disabled:opacity-50" title="Next Page" onclick="window.location.href='{{ pagination_context.next_page_url }}'" {{ 'disabled' if not pagination_context.has_next }}>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Selected Snippet -->
    <div class="flex-grow overflow-auto rounded-xl">
        {% if selected_snippet %}
            {% with snippet=selected_snippet, inline=True %}
                {% include "snippets/templates/_components/snippet_view.html" %}
            {% endwith %}
        {% else %}
        <div class="flex flex-col h-full w-full items-center justify-center">
            <div class="flex flex-col h-full w-full items-center justify-center p-8 bg-transparent border-2 border-dashed border-stone-400 text-center rounded-xl gap-1lex">
                <span class="text-lg font-medium text-stone-500">
                    ← Select a snippet to view
                </span>
            </div>
        </div>
            <!-- Select a snippet -->
        {% endif %}
    </div>
</div>
{% endblock %}
