@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@layer base {
  html {
    font-family: "Outfit", "Arial", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.snippet-card  .hljs-copy-container {
    display: none;
}


@layer components {
  .favorite-btn {
    @apply  bg-transparent text-stone-300 transition-colors duration-200 ease-in-out;
  }

  .favorite-btn.is-favorite {
    @apply bg-transparent text-yellow-500;
  }

  .favorite-btn:hover,
  .favorite-btn.is-favorite:hover {
    @apply text-yellow-400;
  }
}
