{% extends "index.html" %}

{% block content %}
<tr>
    <td class="content-cell">
        <h1>Welcome to devScript!</h1>
        <p>Hello,</p>
        <p>We are excited to have you on board, please click the link below to get started:</p>
        <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="center">
                                <a href="{{ welcome_url }}"
                                    class="button button--blue">Get started</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
{% endblock %}
