{% from "common/templates/_macros/wordmark.html" import wordmark_svg %}

<!DOCTYPE html>
<html lang="en" class="flex flex-col min-h-full {{ 'lg:h-full lg:max-h-full' if lg_max_full_height }} {{ 'sm:h-full sm:max-h-full' if sm_max_full_height }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}devscript{% endblock %}</title>
    <meta name="description" content="{% block description %}devscript - A platform to share and discover code snippets{% endblock %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ static_url(path='/images/brand/light/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static_url(path='/images/brand/light/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ static_url(path='/images/brand/light/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ static_url(path='/images/brand/light/site.webmanifest') }}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <!-- Force reload on back/forward navigation -->
    <script>
        // Reload the page when the user navigates back or forward
        var perfEntries = performance.getEntriesByType("navigation");
        if (perfEntries[0].type === "back_forward") {
            location.reload();
        }
    </script>

    <!-- Markdown Editor -->
    <!-- https://github.com/nhn/tui.editor -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/theme/toastui-editor-dark.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

    <!-- Highlight JS -->
    <!-- https://github.com/highlightjs/highlight.js -->
    <link id="highlightjs-light-theme" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/{{ selected_code_themes.light }}.min.css" disabled="true">
    <link id="highlightjs-dark-theme" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/{{ selected_code_themes.dark }}.min.css" disabled="true">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    {% if supported_languages and supported_languages.filenames %}
    {% for lang in supported_languages.filenames %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/{{ lang }}.min.js"></script>
    {% endfor %}
    {% endif %}
    <link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css" />
    <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>

    <!-- Tags  -->
    <!-- https://github.com/yairEO/tagify?tab=readme-ov-file#single-value  -->
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/dragsort"></script>

    <!-- Dropdowns -->
    <!-- https://github.com/brianvoe/slim-select -->
    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>

    <!-- Datetime Formatting -->
    <!-- https://github.com/iamkun/dayjs/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.13/dayjs.min.js" integrity="sha512-FwNWaxyfy2XlEINoSnZh1JQ5TRRtGow0D6XcmAWmYCRgvqOUTnzCxPc9uF35u5ZEpirk1uhlPVA19tflhvnW1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.13/plugin/relativeTime.min.js" integrity="sha512-MVzDPmm7QZ8PhEiqJXKz/zw2HJuv61waxb8XXuZMMs9b+an3LoqOqhOEt5Nq3LY1e4Ipbbd/e+AWgERdHlVgaA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>dayjs.extend(window.dayjs_plugin_relativeTime)</script>

    <!-- Styles -->
    <link href="{{ static_url(path='/dist/app.css') }}" rel="stylesheet" />

    {% if settings.PLAUSIBLE_SCRIPT_URL %}
        <!-- Plausible -->
        <script defer data-domain="{{ settings.PLAUSIBLE_SITE_NAME }}" src="{{ settings.PLAUSIBLE_SCRIPT_URL }}"></script>
        <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    {% endif %}

</head>
<body class="flex flex-col grow bg-stone-200 dark:bg-neutral-900 text-stone-900 dark:text-white {{ 'lg:h-full lg:max-h-full' if lg_max_full_height }} {{ 'sm:h-full sm:max-h-full' if sm_max_full_height }}">
    <div class="flex flex-col flex-grow {{ 'lg:h-full lg:max-h-full' if lg_max_full_height }} {{ 'sm:h-full sm:max-h-full' if sm_max_full_height }}">
        <div class="{{ 'sticky top-0 z-[90000]'  if not disable_sticky_header }} backdrop-blur bg-stone-200/20 dark:bg-stone-900/20  pt-2 px-2 md:pt-4 md:px-4 rounded-b-full">
            <nav class="flex h-16 items-center justify-between w-full bg-yellow-950 rounded-full px-6 md:px-8 shadow-lg">
                <div class="flex flex-row items-center justify-start space-x-4">
                    <a href="{{ url_for('index') }}" class="flex items-center shrink-0 gap-1 text-white hover:text-yellow-500">
                        {{ wordmark_svg("text-white h-5 w-auto mt-1")}}
                    </a>
                    <div class="hidden sm:flex flex-row items-center justify-center space-x-1 shrink-0">
                        <a
                            href="{{ url_for('snippets.index') }}"
                            class="rounded-full px-4 py-2 text-base font-medium transition-colors {{ 'text-yellow-950 bg-white hover:bg-stone-200' if active_route_name == 'snippets.index' else 'text-white hover:bg-yellow-900' }}"
                        >
                            {{ 'Dashboard' if user else "Explore"}}
                        </a>
                        <a
                            href="{{ settings.DOCS_HOST }}"
                            class="inline-flex flex-row items-center justify-start gap-1 rounded-full px-4 py-2 text-base font-medium text-white hover:bg-yellow-900 transition-colors"
                            target="_blank"
                        >
                            <span>Docs</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z" />
                                <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="flex flex-row items-center justify-end space-x-2 md:space-x-4">
                    {% if user %}
                        {% if not hide_add_snippet_button %}
                        <a id="global-add-snippet-btn" href="{{ url_for('snippet.create') }}" class="flex justify-center items-center gap-4 btn-primary" title="Create a new snippet">
                            <div class="flex flex-row items-center justify-start gap-1">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                                <span class="">Add <span class="hidden sm:inline-block">Snippet</span></span>
                            </div>
                            <kbd
                                class="hidden sm:inline-flex items-center rounded-md border border-yellow-950/20 px-1.5 py-0.5 font-sans text-xs text-yellow-950/60 bg-yellow-50"
                                title="Press 'a' to add a new snippet"
                            >
                                a
                            </kbd>
                        </a>
                        {% endif %}
                        <a href="{{ url_for('auth.profile') }}" class="rounded-md  text-yellow-400 hover:text-yellow-300 dark:text-yellow-600 dark:hover:text-yellow-500" title="Profile">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    {% else %}
                        <a
                            href="https://github.com/xtream1101/devscript"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="shrink-0 hidden sm:flex items-center gap-2 rounded-full px-4 py-2 text-base font-medium text-white hover:bg-yellow-900 transition-colors"
                        >
                            <svg class="size-5" viewBox="0 0 24 24" fill="currentColor">
                                <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
                            </svg>
                            <span class="hidden sm:inline-block">
                                <span class="hidden md:inline-block">View on&nbsp;</span>GitHub
                            </span>
                        </a>
                        <a href="{{ url_for('auth.login') }}" class="shrink-0 btn-secondary--yellow">Login</a>
                        <a href="{{ url_for('auth.register') }}" class="shrink-0 btn-primary">Sign up</a>
                    {% endif %}
                </div>
            </nav>
        </div>

        {% if custom_main %}
            {% block main %}
            {% endblock %}
        {% else %}
            <main class="flex flex-col flex-grow my-4 mx-4 md:my-4 md:mx-8 overflow-auto">
                {% include "common/templates/_components/flash_messages.html" %}
                {% block content %}{% endblock %}
            </main>
        {% endif %}


        <footer class="mt-auto py-2 border-t border-stone-300 dark:border-stone-800">
          <div class="flex flex-row items-center justify-between mx-auto px-4">
            <div class="flex justify-center items-center space-x-2 md:space-x-6 text-xs md:text-sm text-stone-500 dark:text-stone-600">
              <a href="https://github.com/xtream1101/devscript" class="hover:text-yellow-950 dark:hover:text-yellow-50 transition-colors">GitHub</a>
              <a href="{{ settings.DOCS_HOST }}" class="hover:text-yellow-950 dark:hover:text-yellow-50 transition-colors">Documentation</a>
              <a href="https://github.com/xtream1101/devscript/blob/main/LICENSE" class="hover:text-yellow-950 dark:hover:text-yellow-50 transition-colors">License</a>
              <a href="mailto:{{settings.SUPPORT_EMAIL}}" class="hover:text-yellow-950 dark:hover:text-yellow-50 transition-colors">Support</a>
            </div>
            <button id="theme-toggle" class="p-2 rounded-lg bg-stone-300 dark:bg-stone-800 hover:bg-stone-100 dark:hover:bg-stone-950 transition-colors">
              <svg data-dark-mode-only class="hidden w-5 h-5 text-stone-500" fill="currentColor" viewBox="0 0 20 20">
                <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
              </svg>
              <svg data-light-mode-only class="hidden w-5 h-5 text-yellow-600" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"></path>
              </svg>
            </button>
          </div>
        </footer>
    </div>

    <script>
        const CONFIG = {
            "selected_code_themes": {
                "light": "{{ selected_code_themes.light }}",
                "dark": "{{ selected_code_themes.dark }}"
            },
        }
    </script>
    <script src="{{ static_url(path='/app.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
