{% macro code_theme_field(mode) %}
<details class="hidden" open {{ "data-dark-mode-only" if mode == 'dark' else "data-light-mode-only" }}>
    <summary class="">
        <span class="text-base font-medium">Syntax Highlighter ({{ mode | title}} Mode)</span>
    </summary>
    <div class="mt-4 space-y-2">
        <form id="code_theme_reset" action="{{ url_for('auth.reset_code_theme.post') }}" method="POST" class="hidden">
            <input type="hidden" name="theme_mode" value="{{ mode }}">
        </form>
        <form action="{{ url_for('auth.update_code_theme.post') }}" method="POST" class="flex flex-row items-center gap-2">
            <input type="hidden" name="theme_mode" value="{{ mode }}">
            <select
                class="form-select"
                name="code_theme"
                required
                autocomplete="off"
                data-dropdown
                data-dropdown-search-placeholder="Search code themes..."
                onchange="this.form.submit()"
            >
                {% for theme in code_themes %}
                    <option value="{{ theme }}" {% if selected_code_themes[mode] == theme %}selected{% endif %}>{{ theme }}</option>
                {% endfor %}
            </select>
            {% if (mode == 'light' and selected_code_themes.light != settings.DEFAULT_CODE_THEME_LIGHT) or (mode == 'dark' and selected_code_themes.dark != settings.DEFAULT_CODE_THEME_DARK) %}
                <button type="submit" class="btn-secondary btn-circle-sm" form="code_theme_reset" title="Reset to default">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                        <path fill-rule="evenodd" d="M15.312 11.424a5.5 5.5 0 0 1-9.201 2.466l-.312-.311h2.433a.75.75 0 0 0 0-1.5H3.989a.75.75 0 0 0-.75.75v4.242a.75.75 0 0 0 1.5 0v-2.43l.31.31a7 7 0 0 0 11.712-3.138.75.75 0 0 0-1.449-.39Zm1.23-3.723a.75.75 0 0 0 .219-.53V2.929a.75.75 0 0 0-1.5 0V5.36l-.31-.31A7 7 0 0 0 3.239 8.188a.75.75 0 1 0 1.448.389A5.5 5.5 0 0 1 13.89 6.11l.311.31h-2.432a.75.75 0 0 0 0 1.5h4.243a.75.75 0 0 0 .53-.219Z" clip-rule="evenodd" />
                    </svg>
                </button>
            {% endif %}
        </form>

        <pre data-disable-hljs-copy class="mt-4 border border-stone-100 dark:border-stone-800 rounded-xl overflow-x-auto text-xs md:text-sm bg-white dark:bg-stone-950"><code class="language-python">import os
class Foo(object):
"""A simple class"""

def __init__(self, bar):
self.bar = bar

# This is a comment
def __str__(self):
return f"Foo({self.bar})"</code></pre>

        <div class="flex flex-row w-full justify-end items-center">
            <a href="https://highlightjs.org/demo/" target="_blank" class="inline-flex items-center justify-center gap-1 text-sm text-yellow-600 hover:text-yellow-500">
                <span>
                    View and test all code themes
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3">
                    <path fill-rule="evenodd" d="M4.22 11.78a.75.75 0 0 1 0-1.06L9.44 5.5H5.75a.75.75 0 0 1 0-1.5h5.5a.75.75 0 0 1 .75.75v5.5a.75.75 0 0 1-1.5 0V6.56l-5.22 5.22a.75.75 0 0 1-1.06 0Z" clip-rule="evenodd" />
                </svg>
            </a>
        </div>
    </div>
  </details>
{% endmacro %}
