<div
    id="snippet-{{snippet.id}}"
    class="cursor-pointer scroll-mt-32 snap-start w-full h-full p-4 flex flex-col rounded-xl border-4 bg-white hover:bg-sky-50 {{ 'border-sky-400 focus:outline-none' if selected_snippet and selected_snippet.id == snippet.id else 'border-white ' }}"
    tabindex="0"
    onclick="window.location.href='{{dashboard_snippet_view_url(snippet.id)}}#snippet-{{snippet.id}}';"
>
    <div class="flex flex-row items-center justify-between w-full">
        <div>
            {% include "_partials/snippet_public_tag.html" %}
            {% include "_partials/snippet_forked_tag.html" %}
        </div>
        <div class="flex flex-row gap-1">
            <span class="text-xs text-gray-500">Last Updated {{ snippet.updated_at.strftime('%Y-%m-%d %H:%M') }}</span>
        </div>
    </div>

    <div class="flex flex-col gap-1 mt-2 mb-4">
        <div class="flex flex-col items-start">
            <span class="text-md font-bold text-gray-900">
                {{ snippet.title }}
            </span>
            {% if snippet.subtitle %}
            <p class="text-sm text-gray-600">{{ snippet.subtitle }}</p>
            {% endif %}
        </div>
        {% include "_partials/snippet_user_tags.html" %}
    </div>

    <pre class="border rounded-md overflow-x-auto text-sm"><code class="language-{{ snippet.language }}">{{ snippet.content[:200] }}{% if snippet.content|length > 200 %}...{% endif %}</code></pre>
</div>
