{% extends "common/templates/_layouts/base.html" %}

{% block title %}Snippet Manager{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-white rounded-xl shadow-md p-8">

    <form action="{{ url_for('auth.send_verify_email.post') }}" method="post">
        <input type="email" name="email" value="{{ email }}">
        <input type="hidden" name="provider_name" value="{{ provider }}">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Resend Verification Email
        </button>
    </form>

</div>
{% endblock %}
