{% set page_title = "Reset Password" %}

{% extends "common/templates/_layouts/base.html" %}

{% block content %}

<div class="container mx-auto pb-16">
    <div class="max-w-md mx-auto bg-white dark:bg-stone-950 rounded-xl shadow-xl p-8">
        <h1 class="text-2xl font-semibold mb-6 text-center">
            Change your password
        </h1>

       <form class="space-y-4" method="post" action="{{ url_for('auth.reset_password.post', token=token) }}">
            <div>
                <label for="password" class="block text-sm font-medium">New Password</label>
                <input type="password" name="password" id="password" required class="form-input">
            </div>

            <div>
                <label for="confirm_password" class="block text-sm font-medium">Confirm New Password</label>
                <input type="password" name="confirm_password" id="confirm_password" required class="form-input">
            </div>

            <div>
                <button type="submit" class="w-full btn-primary">
                    Reset Password
                </button>
            </div>
        </form>

        <div class="mt-6 text-center">
            <p class="text-sm">
                Remember your password?
                <a href="{{ url_for('auth.login') }}" class="font-medium text-yellow-600 hover:text-yellow-500">
                    Login here
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
