{% if snippet and (snippet.language or snippet.public or snippet.is_fork) %}
<div class="flex flex-row items-center gap-1">
    {% if snippet.language %}
    <a href="{{ snippets_index_url(lang=snippet.language) }}" class="shrink-0 font-bold bg-indigo-200 text-indigo-800 text-xs px-2 py-0.5 rounded hover:bg-indigo-100" title="View all snippets in {{ snippet_language_display(snippet.language) }}">
        {{ snippet_language_display(snippet.language) }}
    </a>
    {% endif %}

    {% if snippet.public %}
    <a href="{{ snippets_index_url(is_public=True) }}" class="shrink-0 font-bold bg-emerald-200 text-emerald-800 text-xs px-2 py-0.5 rounded hover:bg-emerald-100" title="View all public snippets">
        Public
    </a>
    {% endif %}

    {% if snippet.is_fork %}
        <a href="{{ url_for('snippet.view', id=snippet.forked_from_id) }}" class="shrink-0  inline-flex items-center justify-center font-bold gap-1 bg-slate-300 hover:bg-slate-200 text-slate-800 text-xs px-2 py-0.5 rounded" title="View original snippet">
            <span>Forked</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3">
                <path fill-rule="evenodd" d="M4.22 11.78a.75.75 0 0 1 0-1.06L9.44 5.5H5.75a.75.75 0 0 1 0-1.5h5.5a.75.75 0 0 1 .75.75v5.5a.75.75 0 0 1-1.5 0V6.56l-5.22 5.22a.75.75 0 0 1-1.06 0Z" clip-rule="evenodd" />
            </svg>
        </a>
    {% endif %}
</div>
{% endif %}
